{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h3 class="jumbotronHeading">***Draw the digit or letter inside this Box***</h3>
    <div class="col-md-6">
        <table>
            <tr class="col-md-12">
                <td>
                    <div class="slidecontainer">
                        <p>***Line width***</p>
                        <input type="range" min="10" max="50" value="15" id="myRange">
                        <p>Value: <span id="sliderValue"></span></p>
                    </div>
                </td>
            </tr>
            <tr class="col-md-12">
                <td>
                    <fieldset>
                        <div class="form-row">
                            <label for="classifajar">Classifajar</label>
                            <input type="checkbox" id="p_classifajar" name="classifajar" data-ai="classifajar">
                        </div>
                        <div class="form-row">
                            <label for="numbers">numbers</label>
                            <input type="checkbox" id="p_numbers" name="numbers" data-ai="numbers">
                        </div>
                        <div class="form-row">
                            <label for="uppercase">uppercase</label>
                            <input type="checkbox" id="p_uppercase" name="uppercase" data-ai="uppercase">
                        </div>
                        <div class="form-row">
                            <label for="lowercase">lowercase</label>
                            <input type="checkbox" id="p_lowercase" name="lowercase" data-ai="lowercase">
                        </div>
                    </fieldset>
                </td>
            </tr>
        </table>
    </div>
    <div class="canvasDiv" class="col-md-6">
        <canvas id="canvas" width="420" height="420" style="border:5px solid #045FB4;" aling="center"></canvas>
        <br>
        <p style="text-align:center;">
        <br />
        <a class="btn btn-success myButton" href="#" role="button">PREDICT</a>
        <a class="btn btn-success Activations" href="#" role="button" id="activations" >VIEW ACTIVATIONS</a>
        <a class="btn btn-primary" href="#" id="clearButton" role="button">CLEAR</a>
        </p>
    </div>
</div>
<div class="jumbotron">
    <p id="result">!!!Get your prediction here!!!</p>
    <div id="result_info"><p>!!!Details!!!</p></div>
        <a class="btn btn-success Correct_Button" href="#" role="button">CORRECT</a>
        <a class="btn btn-primary Wrong_Button" href="#" id="Wrong" role="button">WRONG</a><br />
        <br />
        <input type="text" pattern="[a-zA_Z1-9]" name="input_wrong" id="input_wrong" class="form-control" size="5" maxlength="1" /><br /><br />
        <a class="btn btn-success Submit_Button" href="#" role="button">SUBMIT</a>
    </p>
</div>

<!-- /container -->
<script src="{{ url_for('static',filename='JS/index.js') }}"></script>
<script type="text/javascript">

    ///////////////////////////////////////////////////////////////////
    /// ***GLOBALS*** ///
    ///////////////////////////////////////////////////////////////////
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var canvasObj = document.getElementById("canvas");
    var class_data;
    ///////////////////////////////////////////////////////////////////
    /// ***Functions($)*** ///
    ///////////////////////////////////////////////////////////////////
    function save_pic(event){
        event.preventDefault();
        var correct_class = document.getElementById("input_wrong").value;
        if (correct_class === ""){
            $('#result').text("enter correct class (1 symbol)");
            return 0
        };
        var img = canvasObj.toDataURL();
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/save",
            data:{
                image: img,
                correct_class: correct_class,
            },
            success: print_result_nobutt,
        });
        $("#input_wrong").hide("slow");
        $(".Submit_Button").hide("slow");
    };
    ///////////////////////////////////////////////////////////////////
    function predict_pic(event){
        event.preventDefault()
        const checked = () => {
            var res = '';
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            for (var i = 0; i < checkboxes.length; i++) {
                res += checkboxes[i].dataset.ai + ' ';
            };
            return res.trim();
        };
        var img = canvasObj.toDataURL();
        var tag = {
            "image": img, 
            "checkboxes": checked() || 'classifajar',
        };
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/predict",
            contentType: "application/json",
            data: JSON.stringify(tag),
            success: print_result,
        });
    };
     ///////////////////////////////////////////////////////////////////
    function view_activations(event){
        event.preventDefault()
        $(".Wrong_Button").hide("slow");
        $(".Correct_Button").hide("slow");
        const checked = () => {
            var res = '';
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            for (var i = 0; i < checkboxes.length; i++) {
                res += checkboxes[i].dataset.ai + ' ';
            };
            return res.trim();
        };
        var img = canvasObj.toDataURL();
        var model = checked() || "classifajar";
        var data = {
            image: img,
            mod: model,
        };
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/show_layers",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: print_result_activation,
        });
    };
    ///////////////////////////////////////////////////////////////////
    function correct_prediction(event){
        event.preventDefault();
        $(".Wrong_Button").hide("slow");
        $('#result').text('Image saved');
        $(".Correct_Button").hide("slow");
        var correct_class = class_data;
        var img = canvasObj.toDataURL();
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/save",
            data:{
                image: img,
                correct_class: correct_class,
            },
            success: print_result_nobutt,
        });
    };
    ///////////////////////////////////////////////////////////////////
    function wrong_prediction(event){
        event.preventDefault();
        $(".Correct_Button").hide("slow");
        $('#result').text('What was it you were drawing?(valid: a-z, A-Z,1-9)');
        $(".Submit_Button").show("slow");
        $("#input_wrong").show("slow");
        $(".Wrong_Button").hide("slow");
    };
    ///////////////////////////////////////////////////////////////////
    function print_result_activation(data){
        var model = data.for_model
        var rendered = data.html_prc;
        $('#result').html('*Activations of ' + model + '*');
        $('#result_info').html(rendered);
    };
    ///////////////////////////////////////////////////////////////////
    function print_result_nobutt(data){
        var val1 = "";
        data.forEach(function(element){
            val1 += element;
            val1 += " ";
        });
        $('#result').html('File saved: ' + val1);
    }; ///Used with Flask_Keras_Multi.py///
    ///////////////////////////////////////////////////////////////////
    function print_result(data){
        class_data = data.result; 
        $('#result').text(' Predicted Output: ' + data.result);
        $('#result_info').html(data.html_prc);
        $(".Correct_Button").show("slow");
        $(".Wrong_Button").show("slow");
    };
    //////////////////////////////////////////////////////////////////
    /// ***BUTTONS*** ///
    //////////////////////////////////////////////////////////////////
    $(".myButton").click(predict_pic);
    $(".Correct_Button").click(correct_prediction);
    $(".Wrong_Button").click(wrong_prediction);
    $(".Submit_Button").click(save_pic);
    $("#activations").click(view_activations);
    $("#p_classifajar").change(function() {
        if(this.checked) {
            $("#p_uppercase").prop( "checked", false );
            $("#p_lowercase").prop( "checked", false );
            $("#p_numbers").prop( "checked", false );
        }
    });
    $("#p_uppercase").change(function() {
        if(this.checked) {
            $("#p_classifajar").prop( "checked", false );
        }
    });
    $("#p_lowercase").change(function() {
        if(this.checked) {
            $("#p_classifajar").prop( "checked", false );
        }
    });
    $("#p_numbers").change(function() {
        if(this.checked) {
            $("#p_classifajar").prop( "checked", false );
        }
    });
    ///////////////////////////////////////////////////////////////////
</script>
{% endblock content %}
